@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
}
/* navbar design */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 24px 160px;
}
.bd {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.sign {
  color: #006a50;
  font-size: 18px;
  font-family: Fira Sans;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
}
