@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f5f5f5;
}
/* style */
.primary-btn {
  color: #ffffff;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
  padding: 17px 34px 17px 34px;
  border: none;
  cursor: pointer;
}
/* navbar design */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.bd {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.sign {
  color: #006a50;
  font-size: 18px;
  font-family: Fira Sans;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
}
/* hero section */
#header-b {
  max-width: 1280px;
  padding: 24px 160px 24px 160px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  display: flex;
  margin-top: 20px;
  gap: 64;
  border-radius: 24px;
  align-items: center;
  background: rgba(198, 228, 214, 1);
  padding: 80px 60px 80px 60px;
}
.hero-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}
.hero-subtitle {
  color: #0e0e0e;
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* pillars */
#pillars {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.pillars-mn {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
#pillars .pillars-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
#pillars .pillars-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#pillars .pillars-dv {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 24px;
  width: 302px;
}
#pillars .men-pillars {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* future */
#future {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
#future .future-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
#future .future-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
#future .future-vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
#future .future-vision-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
#future .future-btn {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  border: none;
}
#future .future-vision-mu {
  width: 410px;
  border-radius: 16px;
  padding: 32px;
}
#future .future-vision {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.primary-bg-a {
  background: rgba(84, 144, 245, 0.2);
}
.primary-bg-b {
  background: rgba(198, 228, 214, 1);
}
.primary-bg-c {
  background: rgba(247, 235, 207, 1);
}
.fv-btn-a {
  background: rgba(84, 144, 245, 1);
}
.fv-btn-b {
  background: rgba(9, 161, 92, 1);
}
.fv-btn-c {
  background: rgba(255, 194, 57, 1);
}
