@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f5f5f5;
}
/* style */
.primary-btn {
  color: #ffffff;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
  padding: 17px 34px 17px 34px;
  border: none;
  cursor: pointer;
}
/* navbar design */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 0px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.bd {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.sign {
  color: #006a50;
  font-size: 18px;
  font-family: Fira Sans;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
}
/* hero section */
#header-b {
  max-width: 1280px;
  padding: 24px 160px 24px 160px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  display: flex;
  margin-top: 20px;
  gap: 64;
  border-radius: 24px;
  align-items: center;
  background: rgba(198, 228, 214, 1);
  padding: 80px 60px 80px 60px;
}
.hero-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}
.hero-subtitle {
  color: #0e0e0e;
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* pillars */
#pillars {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.pillars-mn {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
#pillars .pillars-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
#pillars .pillars-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#pillars .pillars-dv {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 24px;
  width: 302px;
}
#pillars .men-pillars {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* future */
#future {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
#future .future-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
#future .future-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
#future .future-vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
#future .future-vision-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
#future .future-btn {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  border: none;
}
#future .future-vision-mu {
  width: 410px;
  border-radius: 16px;
  padding: 32px;
}
#future .future-vision {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.primary-bg-a {
  background: rgba(84, 144, 245, 0.2);
}
.primary-bg-b {
  background: rgba(198, 228, 214, 1);
}
.primary-bg-c {
  background: rgba(247, 235, 207, 1);
}
.fv-btn-a {
  background: rgba(84, 144, 245, 1);
}
.fv-btn-b {
  background: rgba(9, 161, 92, 1);
}
.fv-btn-c {
  background: rgba(255, 194, 57, 1);
}
/* dr */
#dr-s {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
#dr-s .dr {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 24px 25px;
  padding: 48px 24px 48px 24px;
}
#dr-s .dr-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
}
#dr-s .dr-name {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 4px;
}
#dr-s .dr-subtitle {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
}
/* opinion */
#opinion {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.opinion-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.opinion-bnr {
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 32px;
}
#opinion table {
  border-collapse: collapse;
  width: 100%;
}
#opinion table th {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(198, 228, 214, 1);
  color: rgba(14, 14, 14, 1);
  font-size: 20px;
  font-weight: 600;
  padding: 24px;
}
#opinion table th span {
  margin-left: 896px;
}
.opinion-a {
  border: 1px solid rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 1);
  font-size: 16px;
  font-weight: 600;
  padding: 24px;
}
.opinion-b {
  border: 1px solid rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 1);
  font-size: 16px;
  font-weight: 600;
}
.opinion-btn {
  border: 1px solid rgba(14, 14, 14, 1);
  border-radius: 4px;
  background: rgba(198, 228, 214, 1);
  padding: 10px;
  color: rgba(14, 14, 14, 1);
  font-size: 14px;
  font-weight: 600;
  margin-left: 75px;
}
/* r-news design */
#r-news {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
#r-news .news-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  padding: 48px;
}
#r-news .news-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
}
#r-news .news-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
}
#r-news .news-box img {
  border-radius: 24px;
}
#r-news .news-box-b img {
  border-radius: 24px;
}
#r-news .news-box-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}
#r-news .news-box-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 32px;
}
#r-news .news-box-dt {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}
.news-box-dt span {
  margin-left: 12px;
}
#r-news .news-box-b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  padding: 48px;
  flex-direction: row-reverse;
  margin-top: 24px;
  margin-bottom: 24px;
}
/* donate */
#donate {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
#donate .donate-m .donate-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#donate .donate-m .donate-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
}
#donate .donate-many .donate-am {
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  width: 240px;
  padding: 40px;
  text-align: center;
}
.donate-many {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.donate-taka {
  width: 100%;
  text-align: center;
  display: block;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 1);
  padding: 20px 0px 20px 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.btn-of-many {
  margin-left: 556px;
}
.donate-many-sc {
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(198, 228, 214, 1);
  width: 240px;
  padding: 40px;
  text-align: center;
}
/* subscribe */
#subscribe {
  padding: 24px 160px 24px 160px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.sub-embar {
  background: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 80px 100px 80px 100px;
}
#subscribe .sub-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#subscribe .sub-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 16px 0 24px;
}
#subscribe .sub-news .enter-e {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  width: 600px;
  border-radius: 8px 0px 0px 8px;
  background: rgba(255, 255, 255, 1);
  padding: 18px 40px 18px 40px;
  border: none;
}
#subscribe .sub-news .sub-btn {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  border-radius: 0px 8px 8px 0px;
  background: rgba(0, 106, 80, 1);
  padding: 17px 34px 17px 34px;
  border: none;
}
#subscribe .sub-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
#subscribe .sub-d-title {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}
/* footer */
#footer{
  background-color: #ffffff;
  padding: 50px 160px 50px 160px;
}
.f-title {
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.f-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.footer-bar hr {
  border: 1px solid rgba(14, 14, 14, 0.1);
  margin: 32px auto 32px;
  width: 1122px;
}
